.NewsControls {
    padding: 0 30px 20px 30px;

    .refresh-button {
        transform: scale(1.3);
    }

    .NewsTypeFilter, .StoryTypeFilter {
        display: inline-block;
    }

    .StoryTypeFilter {
        margin-left: 20px;
    }
}