@import '../../fabricTheme/variables';

.Comment {
    margin-bottom: 30px;
    font-size: 0.9em;
    
    .comment-content {
        padding-top: 10px;

        p {
            margin: 5px 0;
        }
    }

}