@import '../../fabricTheme/variables';

.CommentsSection {
    padding-top: 50px;
    
    .title {
        font-size: 1.2em;
        color: $themeDark;
    }

    .no-comments-message {
        padding-top: 20px;
        font-style: italic;
    }

}