@import '../../fabricTheme/variables';

.CommentsSection {
    &.nested {
        padding-top: 10px;
        padding-left: 50px;
    }

    .no-comments-message {
        padding-top: 20px;
        font-style: italic;
    }

}