@import 'fabricTheme/variables';

.NewzApp {
  margin: 10px;
  flex: 0 1 auto;
  padding: 20px;
  height: 100%;
  overflow: hidden;

  .list-container {
    background: $neutralLighter;
    height: 100%;
  }
}

